/** LLAB QUIZ STYLING */

.feedbackDiv {
  width: 85%;
  margin: 10px auto 0px auto;
  text-align: center;
  color: #19253D;
}

.buttonDiv {
  text-align: center;
}

.buttonTable {
  border-collapse: collapse;
  margin: 8px auto 5px auto;
  padding: 1em .5em;
}

.checkAnswerButton,
.tryAgainButton {
  vertical-align: middle;
  margin: 10px;
}

/* multiple choice question specific styling */
/* FIXME, these need descendant ( > ) selectors! */
.MultipleChoice .currentQuestionBox {
  margin: 0px auto;
  padding: 10px 0px;
  text-align: left;
}

.MultipleChoice .currentQuestionBox .leftColumn {
  float: left;
  width: 85%;
  padding: 10px 0px 10px 15px;
  min-height: 300px;
}

.MultipleChoice .currentQuestionBox .rightColumn {
  float: right;
  width: 12%;
  padding: 10px 0px;
  text-align: center;
  color: white;
  min-height: 300px;
}

.MultipleChoice .itemLabel {
  font-size: .7em;
  text-transform: uppercase;
  margin: 5px 0px 0px 15px;
}

.MultipleChoice .promptdiv {
  font-size: .9em;
  color: #000;
  margin: 3px 10px 15px 15px;
  font-weight: bold;
  line-height: 150%;
}

.MultipleChoice .radiobuttondiv {
  margin: 10px;
}

.MultipleChoice .radiobuttondiv table td {
  font-size: .85em;
  vertical-align: top;
  padding: 3px 3px 8px 3px;
}

.MultipleChoice .radiobuttondiv input {
  margin-top: 2px;
}

.MultipleChoice .radiobuttondiv table p {
  font-size: inherit;
}

.MultipleChoice .radiobuttondiv table tt {
  font-size: 110%;
  font-weight: bold;
}

.MultipleChoice .radiobuttondiv .correct {
  color: green;
  font-weight: bold;
}

.MultipleChoice .radiobuttondiv .incorrect {
  color: red;
  font-weight: bold;
}

.MultipleChoice .radiobuttondiv table td:first-child {
  width: 25px;
}

.MultipleChoice .radiobuttondiv table td + td + td div[name="feedbacks"] {
  font-style: italic;
  font-size: .9em;
  border-left: 4px solid #999;
  padding-left: 6px;
  margin-left: 30px;
}

.MultipleChoice .statusMessages {
  text-align: center;
  margin: 5px auto;
  padding: 5px;
}

.MultipleChoice .numberAttemptsDiv, .lastAttemptDiv {
  display: inline;
  font-size: .8em;
  margin: 0px;
  padding: 0px;
}

/** QUIZ CLASSES OF QUESTIONABLE USE */

.MultipleChoice .promptdiv p {
  font-size: inherit;
  font-weight: normal;
}

.MultipleChoice .promptdiv a:link, .promptdiv a:visited {
  color: #000;
}

.MultipleChoice .promptdiv a:hover {
  background-color: #FFFF00;
}

.MultipleChoice .promptdiv tt {
  /* looks OK in IE, too small in firefox, ug.  Firefox at 150% is about right, 130% in IE is right */
  font-size: 135%;
  font-weight: 500;
}

.MultipleChoice .promptdiv ol {
  font-size: .8em;
  text-transform: uppercase;
  margin-left: 25px;
}

.MultipleChoice .promptdiv pre {
  font-size: .8em;
  font: .9em "Courier New", Courier, monospace;
  font-weight: bold;
  color: #333;
  white-space: pre;
  padding: 10px;
  margin: 15px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  border-left: 12px solid #999;
}

.feedbackDiv.correct {
  color: green;
}

.feedbackDiv.incorrect {
  color: red;
}

.questionType tt {
  /* looks OK in IE, too small in firefox, ug.  Firefox at 150% is about right, 130% in IE is right */
  font-size: 135%;
  font-weight: 500;
}
/** END QUESTIONABLE STUFF */
/********************************/
/*** END QUIZ CSS               */
/********************************/