
/* Nates stuff
*/

.matchsequence-data {
    height: 150px;
    background-image: url("../img/icon-loading.gif"), url("../img/matchsequence-background.png");
    background-position: center;
    background-repeat:no-repeat;
    border-color: #000000;
    border-width: thin;
    border-style: solid;
}
/* hide the contents of the data div */
.matchsequence-data > * {
	display:none;
}

.matchsequence-data .remote-data-error {
	background-color: #fd5b5b;
	background-image: url("../img/matchsequence-background.png");
	text-align: center;
    font-weight: bold;
}

.matchsequence {
	display: none;
    border-color: #000000;
    border-width: thin;
    border-style: solid;
    position: relative;
    border-top-width: medium;
}

/* unused right now */
.matchsequence > .settings {
    position: absolute;
    top: 0px;
    right: 0px;
}

.matchsequence > .title {
    border-style: none;
    border-bottom: thin solid #000000;
    background-color: #b48cb4;
    font-size: larger;
    font-weight: bolder;
    font-family: sans-serif;
    width: inherit;
    top: 0px;
    text-align: left;
    padding-right: 48px;   
    padding-left: 10px;
    
    min-height: 38px;   /* 48px - 5 top and -5 bottom */    
    padding-top: 5px;
    padding-bottom: 5px;
}


.matchsequence > .prompt {
    padding: 10px 10px;
    font-size: .9em;
    text-align: left;
}



/* old old stuff
*/

/* none of this applies

#promptdiv {
	font-size:.9em;
	color: #000033;
	margin: 15px 200px 10px 10px;
	text-align: left;
}

#promptdiv p {
	font-size:.9em;
	}

	
#roboArt {
	float: right;
	margin: -3px 5px 5px 0;
}

.instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0;
	color: #333;
	vertical-align: middle;
}
    
*/
    
#play {
	margin: 0px;
	padding: 4px;
}

#play table td {
	vertical-align: top;
}

#play :after {
	clear: both;
/*	content: '.';    */
/*	display: block;  */
	height: 0;
	visibility: hidden;
}

#play ul {
	border: 1px solid black;
	float: left;
	margin: 2px;
	padding: 5px;
	position: relative;
}

#play ul li {
	font-size: .8em;
	background-image: none;
	cursor: move;
	list-style-type: none;
	margin: 2px;
	padding: 2px 5px;
	position: relative;
}

#play ul li.choice {
	background-color: #9999FF;
	border: 1px solid #004C6D;
}

.bucket {
	min-width: 30px;
}

.bucket ul {
	background-color: #FFF;
}

.feedback_ul {
	background-color: #FFF;
}

.choice {
	background-color: red;
}

#play ul li.correct {
   background-color: #CCFF99;
   border: 1px solid #004C6D;
}

#play ul li.wrongorder {
	background-color: yellow;
	border: 1px solid #004C6D;
}

#play ul li.incorrect {
	background-color: #FF3333;
	border: 1px solid #004C6D;
}


#choicesColumn {
	padding-right: .2em;
}


#choicesColumn ul {
	min-width: 7em;
	max-width: 240px;
	margin-bottom: 2px;
	min-height: 2em;
}

#choicesColumn .bucketlabel {
	text-align: left;
	text-transform: uppercase;
	font-size: .8em;
	color: #000;
	padding: 0 4px;
	letter-spacing: 1px;
	margin-left: 8px;
}

#bucketsAndFeedbackColumn {
	float: left;
	margin-left: 0px;
	padding: 0px;
}

#bucketsAndFeedbackColumn .bucketblock {
	width: 100%;
	display: block;
}

#bucketsAndFeedbackColumn .bucketlabel {
	text-align: left;
	font-size: .7em;
	font-weight: bold;
	color: #000;
	padding: 0 4px;
	margin: 0 0 3px 0;
}

#bucketsAndFeedbackColumn ul {
	padding: 4px 2px 15px 2px;
	margin-bottom: 8px;
	width:260px;
}

.feedback_ul {
	text-align: left;
	font-size: .9em;
}

#feedbackDiv {
	width: 70%;
	margin: 5px auto 0 auto;
	padding: 2px;
	text-align: center;
	font-size: .8em;
	color: #000;
}

#feedbackDiv p {
	font-size:inherit;
}

/* I don't like it */
#statusDiv {
	display: none;
}


#triesContainer {
	color: #333;
	margin: 2px auto;
	text-align: center;
	padding: 0;
}

#triesContainer table {
	margin: 0px auto;
	text-align: center;
}

#triesContainer #remainingMatchTries {
	font-size: .7em;
	color: #333;
	padding: 8px 20px;
	background-color: #CCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#sourceBucket {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.horizontalLi {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 150px;
	height: 100px;
	text-align: center;
}

/* from htmlAssessment.css */
.buttonDiv {
    text-align: center;
    width: 780px;
}

#statusDiv {
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 2px;
    text-align: center;
    font-size: .75em;
    color: #19253D;
    color: #333;
}

#buttonTable {
    border-collapse: collapse;
    margin: 8px auto 5px auto;
}

.buttonDiv {
    text-align:center;
    /* vertical-align:middle; */
    line-height: 25px; /* same as height of link */ 
    display:inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.buttonDiv a, .buttonDiv input {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.2em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}

.buttonDiv input {
    height:30px;
    padding: 0.2em 0.75em 0.3em;
    font-size: 0.8em !important;
}

.buttonDiv a:hover, .buttonDiv input:hover {
    cursor:pointer;
}
