/* THIS FILE CONTAINS CSS THAT CURRENTLY ISNT IN USE. */

/* STYLES FOR MARGINALIA ELEMENTS IN RIGHT COLUMN*/
#mainCol {
    margin-right:20%;
    text-align:left;
}

#marginCol {
    float:right;
    text-align:left;
    width:17%;
    min-height:540px;
    background-color:#9999FF;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    -moz-border-radius-topleft:12px;
    -moz-border-radius-bottomleft:12px;
    padding-bottom:8px;
    background-position:10px 10px;
    background-image:url(../img/sys/Alonzo-BYOB.jpg); FIXME
    background-size:25%;
    background-repeat:no-repeat;
}

#marginCol a:hover {
    background-color:#FFFF33;
}

#marginCol .top25 {margin-top:25px;}
#marginCol .top50 {margin-top:50px;}
#marginCol .top75 {margin-top:75px;}
#marginCol .top100 {margin-top:100px;}
#marginCol .top125 {margin-top:125px;}
#marginCol .top150 {margin-top:150px;}
#marginCol .top175 {margin-top:175px;}
#marginCol .top200 {margin-top:200px;}
#marginCol .top225 {margin-top:225px;}
#marginCol .top250 {margin-top:250px;}
#marginCol .top275 {margin-top:275px;}
#marginCol .top300 {margin-top:300px;}
#marginCol .top325 {margin-top:325px;}
#marginCol .top350 {margin-top:350px;}
#marginCol .top375 {margin-top:375px;}
#marginCol .top400 {margin-top:400px;}
#marginCol .top425 {margin-top:425px;}
#marginCol .top450 {margin-top:450px;}
#marginCol .top475 {margin-top:475px;}
#marginCol .top500 {margin-top:500px;}

/*Added to make margin elements more general */

#marginCol div {
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-left:10px;
    margin-right:8px;
    margin-bottom:6px;
    border-style:solid;
    border-width:2px;
    background-color: #C7C7FF;
}

#marginCol .key {
    border-color:#164CBA;
    color:#000;
    font-size:.8em;
    padding:45px 5px 5px 5px;
    font-weight:bold;
    background-image:url(../img/web/special-key-32.png); FIXME
    background-repeat:no-repeat;
    /* background-color:#C7C7FF; */
    background-position:10px 10px;
}

#marginCol .vocab {
    border-color: #666;
    color:#0000CC;
    font-size:.8em;
    padding:40px 0 10px 0;
    font-weight:bold;
    background-image:url(../img/web/special-dictionary-32.png);
    background-repeat:no-repeat;
    background-position:10px 10px;
    /* background-color:#C7C7C7; */
}

#marginCol .vocab a:link, #marginCol .vocab a:visited {
    display:block;
    padding:2px;
    margin:10px 4px 8px 10px;
    border-right:3px solid transparent;
}

#marginCol .vocab a:hover {
    background-color:#FFFF33;
    border-right:3px solid #666;
}

#marginCol .help {
    font-family:Tahoma, Geneva, serif;
    border-color:#666;
    color:#0000CC;
    font-size:.82em;
    font-weight:normal;
    padding:36px 0 12px 0;
    background-image:url(../img/web/helpicon22.png);
    background-repeat:no-repeat;
    background-position:10px 10px;
}

#marginCol .help p {
    font-size:inherit;
    color:#333;
    font-size:inherit;
    padding:0;
    margin:10px 4px 6px 5px;
}

#marginCol .help a:link, #marginCol .help a:visited {
    display:block;
    padding:2px;
    margin:2px 4px 5px 5px;
    border-right:3px solid transparent;
}

#marginCol .help a:hover {
    background-color:#FFFF33;
    border-right:3px solid #666;
}

#marginCol .warning {
    border-color:#330033;
    color:#000;
    font-size:.8em;
    padding:40px 0  0 0;
    font-weight:bold;
    background-image:url(../img/web/special-warning-32.png);
    background-repeat:no-repeat;
    background-position:10px 10px;
    /* background-color:#BF9A6B; */
}

#marginCol .warning p {
    padding:0;
    margin:10px 4px 8px 10px;
}

/* OTHERS */
#class_nav_bar {
    font:17px Helvetica, Arial, sans-serif;
    color:#e3e3e3;
}

#buttonClose {
  text-align: center;
  margin: 30px auto;
}

#buttonClose a {
  display: block;
  margin: 0 auto;
  width: 9em;
  padding: 3px 0;
  font: bold 80% Verdana,Arial,sans-serif;
  text-transform: uppercase;
  background: #6883BA;
  color: #333;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #666;
  outline: none;
}

#buttonClose a:hover {
  background: #FFCC00;
  color: #333;
}

#brainstorm p {
  margin: 5px auto;
  padding: 0;
  color: #000099;
  font-size: 110%;
  line-height: 100%;
}

#brainstorm table {
  border-collapse: collapse;
  border: 2px solid #000066;
  color: #CCFFCC;
  background-color: #333;
  margin: 10px auto;
}

#brainstorm strong {
  text-transform: uppercase;
  color: #CCFFCC;
}

#brainstorm td {
  font-size: 80%;
  vertical-align: top;
  padding: 5px 10px;
  border: 1px solid #666;
}

#brainstorm table code {
  display: block;
  margin: 10px 0 0 0;
  font-size: 95%;
  font-weight: normal;
  line-height: 80%;
}

#selfCheckIntro {
  width: 650px;
}

#selfCheckIntro .Intro1 {
  color: red;
}

#selfCheckIntro .Intro2 {
  font-size: 90%;
}

.selfCheckQuestion {
  font-size: 14px;
  font-family: Verdana, Arial,Helvetica;
  text-align: left;
  width: 650px;
  margin: 10px 0 15px 0 ;
  color: #0000FF;
  line-height: 120%;
}

#tableCenter {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #333;
  font-family: "Arial", sans-serif;
  background-color: #F0F8FF;
}

#tableCenter th {
  padding: 5px 10px;
  font-size: 0.9em;
  font-weight: 600;
  border-bottom: 2px solid #808080;
  background-color: #B0E0E6;
}

#tableCenter td {
  font-size: .8em;
  letter-spacing: 0.1em;
  padding: 20px;
}


#tableClear {
  border-collapse: collapse;
  margin: 0 0 0 50px;
  background-color: #FFF;
}

#tableClear td {
  border: 0;
  vertical-align: top;
  padding: 5px;
}

#tableClear pre {
  font: 400 .85em "Courier New", Courier, monospace;
  white-space: pre;
  padding: 10px;
  margin: 5px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  border-left: 12px solid #999;
}

#tableTight {
  border-collapse: collapse;
  margin: 0 0 0 5px;
  background-color: #FFF;
}

#tableTight td {
  border: 0;
  vertical-align: top;
  padding: 0;
}

#tableTight pre {
  font: .85em Courier, monospace;
  color: #000;
  letter-spacing: -1px;
  white-space: pre;
  padding: 5px;
  margin: 5px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  border-left: 12px solid #999;
}

#summaryTable {
  border-collapse: collapse;
  border: 2px dotted #ccc;
  width: 75%;
  margin: 0 auto 10px auto;
  text-align: center;
  vertical-align: top;
  top: 0;
}

#summaryTable th {
  font-weight: bold;
}

#summaryTable p {
  padding: 6px;
}

#tableSummary {
  border-collapse: collapse;
  border: 2px dotted #ccc;
  width: 75%;
  margin: 0 auto 10px auto;
  text-align: center;
  vertical-align: top;
  top: 0;
}

#tableSummary th {
  font-weight: bold;
}

#tableSummary p {
  padding: 6px;
}

input[type=text], input[type=password], textarea {
  font: 12px "Courier New", Courier, monospace;
}

/* Quiz Page Buttons */
/* FIXME -- this is just bad */
input[type=submit] {
  font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  border: 1px solid #000;
  background-color: #36F;
  color: #FFF;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}